{% extends 'base.html' %}

{% block content %} 

<!-- <section class="bg-dark text-light text-center shadow">
    <div class="container p-5 bg-dark">
        <div class="row">
            <div class="d-md-flex bg-dark align-items-center justify-content-evenly">
                <h1 class="col text-center"><br>Car Inventory</h1>
            </div>
        </div>
    </div>
</section> -->


<header class="container-fluid header-bg bg-light text-center position-relative">
    <div class="container">
        <div class="row">
            <div class="col d-flex align-items-center justify-content-center">
                <div class="hdr-text-box text-center">
                    <h1 class="display-4">Cas Car inventory</h1>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- main-->
<section class="bg-light text-center">
    <div class="container">
        <h1>All your car needs met</h1>
        <h4>Venetian snares</h4>
        <p>Lorem ipsum dolor sit amet, sdfsfdfsdfs Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae nemo similique dolorem accusantium, itaque earum molestias beatae saepe ut dolorum obcaecati quae fugit? adipisicing elit. Deleniti beatae voluptatibus nemo nostrum expedita omnis! Rem nihil ipsa optio officia deserunt eum, dolores maiores dolore ipsum, repellat assumenda vero dignissimos.</p>
        <h2 class="text-center">Featured</h2>
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="/app/static/images/undraw_order_a_car_3tww.png" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title">2023 Model XYZ</h5>
                        <p class="card-text">Experience luxury and performance with the all-new Model XYZ.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="/app/static/images/undraw_order_a_car_3tww.png" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title">2023 Model ABC</h5>
                        <p class="card-text">Discover elegance and innovation in the Model ABC.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="/app/static/images/undraw_order_a_car_3tww.png" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title">2023 Model XYZ</h5>
                        <p class="card-text">Experience luxury and performance with the all-new Model XYZ.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="/app/static/images/undraw_order_a_car_3tww.png" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title">2023 Model ABC</h5>
                        <p class="card-text">Discover elefdsfsdfsfsfsdfsgance and innovation in the Model ABC.</p>
                    </div>
                </div>
            </div>
    </div>
</section>




{% endblock %}