*,*:before,*:after{
    padding:0;
    margin: 0;
    /* box-sizing: inherit; */
}

body{
    padding-top: 50px;
    overflow-x: hidden;

    background-image: url('/static/images/the-creativv-BUDn0s7QteI-unsplash.jpg');
    background-size: contain ;
    background-repeat:initial;
}

.container-fluid.header-bg {
    background-image: url("/static/images/jannis-lucas-9kixbx1zdMw-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat; 
    /* max-width: 100%; */
    background-position: center;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hdr-text-box {
    background-color: rgba(43, 35, 35, 0.5); /* Opaque background color */
    padding: 20px;
    border-radius: 10px;
    color: white;
  }